.progressBar{
    height: 80px;
    width: 300px;
    background-color: wheat;
    padding: 3px;
    margin-top: 20px;
    margin-left: 20px;
}

.progressBar .progress{
    height: 100%;
    width: 20px;
    background:linear-gradient(to right,blue, red, white);
    transition: 1s;
}